<div class="contact">
	<div class="contact__left">
		<div class="contact__info contact__info--contact">
			<h3 class="contact__info-title h3">contact</h3>
			<div class="contact__info-text">
				<p>
					<a href="tel:+97317725000">+973 17725000</a>
				</p>
				<p>
					<a class="contact__link" href="mailto:info@thepalmyard.com">info@thepalmyard.com</a>
				</p>
			</div>
		</div>
		<div class="contact__info contact__info--find-us">
			<h3 class="contact__info-title h3">find us</h3>
			<div class="contact__info-text">
				<p>Road 382, Block 338,<br>Adliya, Manama, Bahrain</p>
			</div>
		</div>
		<div class="contact__info contact__info--follow">
			<h3 class="contact__info-title h3">follow us</h3>
			<div class="contact__social">
				<a class="contact__social-link social-link" href="" target="_blank">ig</a>
				<a class="contact__social-link social-link" href="" target="_blank">fb</a>
			</div>
		</div>
	</div>
	<div class="contact__right">
		<h2 class="contact__title">How can we help?</h2>
		<form class="contact__form">
			<div class="contact__grid">
				<input type="text" name="" placeholder="Name*" required>
				<input type="text" name="" placeholder="Surname*" required>
				<input type="email" name="" placeholder="Email*" required>
				<input type="number" name="" placeholder="Phone">
				<textarea name="" placeholder="Message*" required></textarea>
			</div>
			<div class="contact__footer">
				<p class="contact__footnote">By clicking the Send Request button you agree to our <a href="privacy.html">Privacy Policy</a> terms</p>
				{{ btnFill('btton', 'contact__send', 'send', 'arrow-right') }}
			</div>
		</form>
	</div>
</div>
