<div class="hero-level-2">
	<div class="hero-level-2__container">
		<h1 class="hero-level-2__title">{{ heroTitle }}</h1>
		{{ down('hero-level-2__scroll-to', scrollTo) }}
		<div class="hero-level-2__photo">
			<img src="img/{{ heroPhoto }}.jpg" alt="">
		</div>
	</div>
</div>
