<div class="intro{{ " " + introClass if introClass }}">
	<div class="intro__container">
		{{ inline('logo-plant') }}
		<div class="intro__description">
			<p>Adliya, in the center of <b>Manama</b>, is a vibrant, bohemian neighbourhood that encompasses wonderful restaurants, café and art galleries in a very European way, that is not offered in any other city of the <b>GCC region</b>.</p>
		</div>
		{{ inline("long-line") }}
	</div>
</div>
