<div class="cookies cookies--hidden js-cookies-modal">
	<div class="cookies__text">
		<p>we use cookies to give you more options when using this website <a href="">learn more</a></p>
	</div>
	<div class="cookies__buttons">
		{{ btnFill('button', 'btn-fill--green cookies__btn js-accept-cookies', 'Accept', 'check') }}
		{{ btnFill('button', 'btn-fill--light-green cookies__btn', 'Decline', 'cross-medium') }}
	</div>
</div>
