<div class="menu__footer">
	<a class="menu__address" href="" target="_blank">
		{{ inline("map-pin") }}
		<span>Road 382, Block 338, Adliya, Manama, BH 338, Bahrain</span>
	</a>
	<div class="menu__socials">
		<a class="menu__social-link" href="" target="_blank">Instagram</a>
		<a class="menu__social-link" href="" target="_blank">Facebook</a>
	</div>
</div>
