---
title: 404 Page Not Found
description: 404 Page Not Found
pageName: PageNotFound
---


{% extends 'layouts/_page-default.twig' %}
{% block content %}
<main class="container _404_page">
<div class="hero-text">
        <h1 class="_404">404</h1>
        <h2> Sorry the page you are looking for doesn't exist</h2>
        <img src="/img/divider.svg"/>
        <a class="button"href="/">Back to Home</a>
        
</div>

</main>
{% endblock %}



