---
title: Amriya
description: Home to the pinnacle of hospitality destinations in Bahrain.
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
	<main class="container">
		{% include 'pages/home/_hero.twig' %}
	</main>
{% endblock %}
