<div class="rooms-more">
	<div class="rooms-more__photo">
		<img src="img/rooms-more-photo.jpg" alt="">
	</div>
	<div class="rooms-more__info">
		<h2 class="rooms-more__title">Services</h2>
		<div class="rooms-more__txt txt-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus ex vitae risus volutpat volutpat. Pellentesque dictum convallis neque, non finibus.</p>
		</div>
		{{ btn('a', 'rooms-more__link link link--tablet-short', 'Explore More', '') }}
	</div>
</div>
