<div class="home-events">
	<div class="home-events__wrapper">
		<div class="home-events__container">
			{{ h2("EVENTS", "home-events__label") }}
			<h3 class="home-events__title h1">
				<span>Work. Treat.</span>
				<span>Party. Repeat.</span>
			</h3>
		</div>
	</div>
	{% set withButton = true %}
	{% include 'blocks/_cards-carousel.twig' %}
</div>
