
	<div class="hero-text">
        <h1 class="hero-title">welcome to <br> the Amriya GROUP</h1>
        <h2 class="hero-subtitle"> Home to the pinnacle of hospitality destinations in Bahrain.</h2>
        <img src="/img/divider.svg"/>
    </div>

    <div class="bottom-wrapper">
    <div class="logo-columns">
        <div class="logo-column"><a href="https://www.palmyard.com" class="content"><img src="/img/palmyard-logo.svg"/></a> </div>
        <div class="logo-column"><a href="https://www.massorestaurant.com/" class="content"><img src="/img/masso-logo.svg"/></a> </div>
        <div class="logo-column"><a href="http://www.orangeryme.com/" class="content"><img src="/img/orangery-logo.svg"/></a> </div>
        <div class="logo-column"><a href="https://www.palmyard.com" class="content"><img src="/img/circa-logo.svg"/></a> </div>
        <div class="logo-column pseudo-column"><div class="content"></div> </div>
        <div class="logo-column"><a href="#" class="content"><img src="/img/sasso-logo.svg"/></a> </div>
        <div class="logo-column"><a href="https://www.palmyard.com" class="content"><img src="/img/secret-garden-logo.svg"/></a> </div>
        <div class="logo-column pseudo-column"><div class="content"></div> </div>
    </div>


	{% include 'blocks/_footer.twig' %}
