<div class="instagram">
	<div class="instagram__container">
		<div class="instagram__main">
			{{ inline("logo-plant") }}
			<h2 class="instagram__title">@palmyardhotel</h2>
			<h3 class="instagram__subtitle">Become a part of our story</h3>
			<div class="instagram__photo-main">
				<img src="img/home-insta-1.jpg" alt="">
			</div>
			{{ btn('a', 'instagram__btn btn btn--beige', 'Follow Us', '') }}
		</div>
		<span class="instagram__bg-text">#palmyard</span>
		<div class="instagram__photo-left-top">
			<img src="img/home-insta-2.jpg" alt="">
		</div>
		<div class="instagram__photo-left-bottom">
			<img src="img/home-insta-3.jpg" alt="">
		</div>
		<div class="instagram__photo-right-top">
			<img src="img/home-insta-5.jpg" alt="">
		</div>
		<div class="instagram__photo-right-bottom">
			<img src="img/home-insta-4.jpg" alt="">
		</div>
	</div>
</div>
