<div class="slogan">
	<div class="slogan__bg">
		<img src="img/home-stay-5.jpg" alt="">
	</div>
	<div class="slogan__ticker">
		<div class="slogan__txt js-ticker">
			{% for i in range(1, 5) %}
				<span>Ready to cool off? Take a dip!&nbsp;</span>
			{% endfor %}
		</div>
	</div>
</div>
