<div class="home-stay">
	<div class="home-stay__container">
		<div class="home-stay__info">
			{{ h2("stay", 'home-stay__label') }}
			<h3 class="home-stay__title h1">
				<span>Get some shut eye.</span>
				<span>Rest your soul.</span>
			</h3>
			<div class="home-stay__details">
				<div class="home-stay__desription txt-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ex vitae risus volutpat volutpat. Pellentesque dictum convallis neque, non finibus.</p>
				</div>
				{{ btn('a', 'link', 'Discover our Rooms', 'rooms.html') }}
			</div>
		</div>
		<div class="home-stay__img-top">
			<img src="img/home-stay-2.jpg" alt="">
		</div>
		<div class="home-stay__img-bottom">
			<img src="img/home-stay-1.jpg" alt="">
		</div>
	</div>
</div>
