<div class="room-info">
	<div class="room-info__container">
		<div class="room-info__photo-top">
			<img src="img/room-photo-1.jpg" alt="">
		</div>
		<div class="room-description">
			<div class="room-description__info">
				<h2 class="room-description__title">Luxury Redefined</h2>
				<div class="room-description__txt txt-2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus ex vitae risus volutpat volutpat. Pellentesque dictum convallis neque, non finibus turpis facilisis malesuada. Nulla ac nulla eget nisi varius malesuada quis non massa.</p>
				</div>
				{{ btn('button', 'room-description__link link link--short', 'Make a Reservation') }}
			</div>
			<div class="room-description__photo">
				<div class="room-description__img">
					<img src="img/room-photo-2.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="room-info__photo-middle">
			<img src="img/room-photo-3.jpg" alt="">
		</div>
		<div class="room-options">
			<h2 class="room-options__title">
				<span>
					{{ inline("arrow-right") }} What you get
				</span>
				<span>Room Amenities</span>
			</h2>
			<ul class="room-options__list">
				<li>Air conditioning</li>
				<li>Soundproofing</li>
				<li>Private bathroom</li>
				<li>Free WiFi</li>
				<li>TV</li>
				<li>Telephone</li>
				<li>Satellite and cable channels</li>
				<li>Safe</li>
				<li>Heating</li>
				<li>Rainforest shower and shower hose</li>
			</ul>
		</div>
		<div class="room-info__photo-bottom">
			<img src="img/room-photo-4.jpg" alt="">
		</div>
		{{ inline("logo-plant") }}
	</div>
</div>
